h1 {
  padding: 2rem;
}

h2 {
  text-align: center;
}

.card {
  width: 30%;
  margin: 0 auto;
  text-align: center;
  border: solid lightgray 1px;
  border-radius: 2%;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.list-group {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
